<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bossien.mapper.tp.UserTrainRoleMapper">

	<!-- 通用查询结果集 -->
	<resultMap id="BaseResultMap" type="com.bossien.entity.UserTrainRole">
		<id column="user_id" property="user_id"/>
		<result column="train_role_id" property="train_role_id"/>
		<result column="role_name" property="role_name"/>
		<result column="is_valid" property="is_valid"/>
		<result column="create_user" property="create_user"/>
		<result column="create_time" property="create_time"/>
		<result column="oper_user" property="oper_user"/>
		<result column="oper_time" property="oper_time"/>
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="BaseColumnList">
		user_id, train_role_id, role_name, is_valid, create_user, create_time, oper_user, oper_time
	</sql>

	<select id="selectList" parameterType="com.bossien.entity.UserTrainRole" resultMap="BaseResultMap">
		SELECT
			<include refid="BaseColumnList"/>
		FROM user_train_role
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="user_id != null and user_id != ''">
				AND user_id = #{user_id}
			</if>
		</trim>
	</select>
	
</mapper>